/*body{*/
    /*background-color: black;*/
    /*padding-top: 1000px;*/
/*}*/

#holder{
    position: relative;
    top: 150px;
    margin-bottom: 100px;
}


.ball{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 10px auto 0;
}

.ball:nth-of-type(1){
    background-color: pink;

}
.animating .ball:nth-of-type(1){
    animation: right 1s infinite ease-in-out;
}
.ball:nth-of-type(2){
    background-color: yellow;
    animation: left 1.1s infinite ease-in-out;
}
.animating .ball:nth-of-type(2){
    animation: left 1.1s infinite ease-in-out;
}

.ball:nth-of-type(3){
    background-color: blue;
}
.animating .ball:nth-of-type(3){
    animation: right 1.05s infinite ease-in-out;
}

.ball:nth-of-type(4){
    background-color: green;
}
.animating .ball:nth-of-type(4){
    animation: left 1.15s infinite ease-in-out;
}
.ball:nth-of-type(5){
    background-color: orange;
}
.animating .ball:nth-of-type(5){
    animation: right 1.1s infinite ease-in-out;
}
.ball:nth-of-type(6){
    background-color: white;
}
.animating .ball:nth-of-type(6){
    animation: left 1.05s infinite ease-in-out;
}
.ball:nth-of-type(7){
    background-color: purple;
}
.animating .ball:nth-of-type(7){
    animation: right 1.15s infinite ease-in-out;
}

@keyframes left {
    0%{
        transform: translate(25px);
    }
    50%{
        transform: translate(-25px);
    }
    100%{
        transform: translate(25px);
    }
}
@keyframes right {
    0%{
        transform: translate(-25px);
    }
    50%{
        transform: translate(25px);
    }
    100%{
        transform: translate(-25px);
    }
}
#circle{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #000000;
    color: #ffffff;
    line-height: 100px;
    text-transform: uppercase;
    position: absolute;
    top: calc(50vh - 50px);
    left: calc(50vw - 50px);
    text-align: center;

}